<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MinifyJS: Compress JavaScript</title>

    <meta name="keywords" content="minify javascript, javascript compressor, compress javascript, uglify js, uglify javascript, zip javascript">
    <meta name="description" content="Minify your JavaScript code online. It's free, easy and super fast!">

    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" href="/stylesheets/styles-min.css" rel="stylesheet" />
</head>

<body>
 <div id="content">
 </div>

 <script src="/js/bundle.js"></script>

</body>
</html>
